
$primary-color: #0ba8c7; // rgb(11, 168, 199)
$vibrant-color: #f26522; // rgb(242, 101, 34)
$success-color: #a8c70b;

body {
  background-color: #efefef;
}

h1 {
  border-bottom: 5px solid $vibrant-color;
}
h2, h3 {
  border-bottom: 2px solid $vibrant-color;
}

body.admin .wrapper {
  max-width: none;
  width: 95%;
}

.collection-table i.icon {
  font-size: 1.5rem;
}
.collection-table i.icon.fa {
  font-size: 1.33rem;
}

.collection-table i.fi-torso {
  color: #06c;
}
.collection-table i.fi-torso-female {
  color: #c3c;
}
.collection-table i.fa.fa-lock,
.collection-table i.fa.fa-ban {
  color: #aaa;
}
.collection-table i.fa.fa-unlock,
.collection-table i.fa.fa-check {
  color: #0c3;
}
