extends ../../layouts/default

block content
  h1= title

  p Ce réseau social est mon projet de fin d’études dans le cadre de la formation <strong>Développeur JavaScript FullStack</strong> de l’
    a(href="http://www.ifocop.fr/") IFOCOP
    |.

  h2 Frameworks

  p Le projet est développé avec la stack
    = " "
    a(href="https://en.wikipedia.org/wiki/MEAN_(software_bundle)") MEAN
    = " "
    |(<a href="https://www.mongodb.com/">MongoDB</a>, <a href="http://expressjs.com/">ExpressJS</a>, <a href="https://angularjs.org/">AngularJS</a> et <a href="https://nodejs.org/en/">NodeJS</a>).

  ul
    li <strong>MongoDB</strong> en version 3.2
    li <strong>ExpressJS</strong> en version 4.14.0
    li <strong>AngularJS</strong> en version 1.5.8
    li <strong>NodeJS</strong> en version 4.4.5

  p La partie <i>front</i> utilise <a href="https://angularjs.org/">AngularJS</a>  avec <strong>injection de dépendances stricte</strong>.
  p Le framework <i>front</i> est <a href="http://foundation.zurb.com/">Foundation</a> (version 6) avec <a href="https://circlingthesun.github.io/angular-foundation-6/">Angular Foundation</a> et <a href="https://github.com/zurb/motion-ui">MotionUI</a>.
  p
    <em><strong>Note:</strong> jQuery n’est pas utilisé.</em>

  h3 Websockets

  p La mise à jour d’informations en temps réel en réalisée avec <a href="http://socket.io/">socket.io</a>.

  h2 Hébergement
  p Le serveur est une instance EC2 de <a href="https://aws.amazon.com/fr/">Amazon Web Services</a> tournant sous Linux  <a href="https://www.ubuntu.com/server">Ubuntu Server</a> 16.04 LTS.
  p L’application NodeJs est gérée par <a href="http://pm2.keymetrics.io/">PM2</a>.
