extends ../../layouts/default

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")

  unless req && req.user
    script(src="/javascripts/signup-controller.js")

block content

  if signupConfirmEmail
    div.callout.success(data-closable="slide-out-right")
      button.close-button(aria-label="Close alert", type="button", close="true")
        span(aria-hidden="true") &times;
      h3 Consultez votre messagerie
      p Un e-mail vous a été envoyé à
        = " "
        strong #{signupConfirmEmail}
        |.
      p Veuillez suivre les instructions pour confirmer votre inscription.

  if accountConfirmed
    div.callout.success(data-closable="slide-out-right")
      button.close-button(aria-label="Close alert", type="button", close="true")
        span(aria-hidden="true") &times;
      h3 Bienvenue&nbsp;!
      p Votre compte a été confirmé
      p
        em (vous avez été connecté(e) automatiquement)


  unless req && req.user
    h1 Bienvenue

    div.row
      div.small-12.medium-6.columns
        h3 Pas encore inscrit&nbsp;?
        p
          a.button.success.expanded(href="/signup") Créez votre compte
        p
          em la création de compte est gratuite pour les membres du jury

      div.small-12.medium-6.columns
        h3 Vous avez un compte&nbsp;?
        p
          a.button.expanded(href="/login") Connectez-vous





  if req && req.user

    include ../../includes/public/post_form.pug

  else
    // include ../../includes/public/signup_form.pug
