extends ../../layouts/default

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")

  unless req && req.user
    script(src="/javascripts/signup-controller.js")

block content

  //- ul
  //-   li Sébastien Guillon
  //-   li Bill	Gates
  //-   li Elon	Musk
  //-   li Steve Wozniak
  //-   li Douglas Crockford
  //-   li Jeffrey Hawkins
  //-   li Brendan Eich
  //-   li Joel	Spolsky

  if recoverConfirmEmail
    div.callout.success
      h3 Consultez votre messagerie
      p Un e-mail vous a été envoyé à
        = " "
        strong #{recoverConfirmEmail}
        |.
      p Veuillez suivre les instructions pour ré-initialiser votre mot de passe.

  if signupConfirmEmail
    div.callout.success
      h3 Consultez votre messagerie
      p Un e-mail vous a été envoyé à
        = " "
        strong #{signupConfirmEmail}
        |.
      p Veuillez suivre les instructions pour confirmer votre compte.

  if accountConfirmed
    div.callout.success
      h3 Bienvenue&nbsp;!
      p Votre compte a été confirmé
      p
        em (vous avez été connecté(e) automatiquement)


  unless req && req.user
    div.hero
      h1 soc.sebastienguillon.net <br>
        small un réseau social de test


    div.row
      div.small-12.medium-6.columns
        div.home-new
          h3 Pas encore inscrit&nbsp;?
          p
            a.button.success.expanded(href="/signup") Créez votre compte
          p.text-center
            em La création de compte est gratuite.

      div.small-12.medium-6.columns
        div.home-log
          h3 Vous avez un compte&nbsp;?
          p
            a.button.expanded(href="/login") Connectez-vous
          p.text-center
            a(href="/recover") Informations de compte oubliées ?





  if req && req.user

    include ../../includes/public/post_form.pug

  else
    // include ../../includes/public/signup_form.pug
