extends ../../layouts/default

block angularModules
  script(src="/javascripts/ng-file-upload-all.min.js")

block angularControllers
  script(src="/javascripts/profile-controller.js")

block content
  h1= title

  if req && req.user
    include ../../includes/public/profile_form.pug

  else
    p You will be escorted out
