extends ../../layouts/default

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")


block content

  include ../../includes/public/userHeader.pug

  if req && req.user

    div
      if user.about == ''
        em
          = user.firstname + ' ' + user.lastname + ' n’a pas laissé de description'
      else
        user.about

  else
    p You will be escorted out
