extends ../../layouts/default

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")


block content

  include ../../includes/public/userHeader.pug

  if req && req.user

    include ../../includes/public/post_form.pug

  else
    p You will be escorted out
