
h3 Activité du réseau

div(ng-controller="activityController as activityCtrl")
  p(ng-bind="activityCtrl.nbOnlineUserMessages")

  if req && req.user
    p(ng-bind="activityCtrl.nbOthersLoggedInMessage")

  else
    p(ng-bind="activityCtrl.nbLoggedInMessage")

  if req && req.user

    h3 Amis en ligne
    ul.online-friends(ng-if="activityCtrl.onlineFriends")
      li(ng-repeat="onlineFriend in activityCtrl.onlineFriends track by $index")
        // friend-badge(data-uid="{{onlineFriend.uid}}", data-firstname="{{onlineFriend.firstname}}", data-lastname="{{onlineFriend.lastname}}", data-profile-pic="{{onlineFriend.profilePic}}")

        a.user-badge(ng-href="/user/{{onlineFriend.uid}}")
          span.profile-pic(ng-style="{'background-image':'url(/images/profile/{{onlineFriend.profilePic}})'}")
          span(ng-bind="onlineFriend.firstname")
          = " "
          span(ng-bind="onlineFriend.lastname")



    div(ng-if="activityCtrl.onlineFriends.length < 1")
      p
        em Aucun ami connecté en ce moment

    p.text-right
      a(href="/user/" + req.user.uid + '/friends')
        i.fi-torsos-all
        = " Tous mes amis"

    div(ng-controller="chatController as chatCtrl")


unless req && req.user
  p
    a(href="/login") Connectez-vous pour retrouver vos amis.
