div(ng-controller="postController as postCtrl")
  form(name="postCtrl.postForm", ng-submit="postCtrl.postForm.$valid && postCtrl.save()", novalidate)
    div.row
      div.small-12.columns
        div.post-form
          label(for="message") Écrivez un message pour tous vos amis
          textarea.post(id="message", name="message", required="required", ng-model="postCtrl.formData.message", autofocus)
          div.text-right
            button.button(type="submit")
              i.fa.fa-globe
              = " Publier"

  div.row
    div.small-12.columns

      div(ng-show="postCtrl.newPosts.length")
        button.button.success.expanded(ng-click="postCtrl.addNewPosts()") {{ postCtrl.nbNewPosts }} {{ postCtrl.alertText }}
      div.post(ng-repeat="post in postCtrl.posts track by $index")
        div.post-meta
          a.post-author(ng-href="/user/{{post.uid}}" )
            div.profile-pic(ng-style!="{'background-image' : 'url(/images/profile/{{post.profilePic}})'}")

            = '{{post.firstname}} {{post.lastname}}'
            = ', '
          span.post-date le {{post.publicationDate | date:'dd/MM/yyyy à HH:mm:ss'}}
        div.post-content
          | {{post.content}}
