// -
//   if (formData === undefined) {
//     var formData = {
//       'firstname': '',
//       'lastname': '',
//       'username': '',
//       'username-repeat': '',
//       'password': ''
//     };
//     if (xformData) {
//       formData = xformData;
//     }
//   }

div(ng-controller="signupController as signupCtrl")

  form(method="post", name="signupCtrl.signupForm", ng-submit="signupCtrl.signupForm.$valid && signupCtrl.save()", novalidate)

    div.row.expanded
      div.small-6.columns
        label(for="firstname") Prénom
        input(type="text", id="firstname", name="firstname", required="required", ng-model="signupCtrl.formData.firstname", autofocus)
        div(ng-messages="signupCtrl.signupForm.firstname.$error", ng-if="signupCtrl.signupForm.firstname.$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez saisir votre prénom.

      div.small-6.columns
        label(for="lastname") Nom de famille
        input(type="text", id="lastname", name="lastname", required="required", ng-model="signupCtrl.formData.lastname")
        div(ng-messages="signupCtrl.signupForm.lastname.$error", ng-if="signupCtrl.signupForm.lastname.$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez saisir votre nom de famille.

    div.row.expanded
      div.small-12.columns
        label(for="username") Adresse e-mail
        input(type="email", id="username", name="username", required="required", ng-model="signupCtrl.formData.username", compare-to-exists="signupCtrl.formData.usernameTaken")
        div(ng-messages="signupCtrl.signupForm.username.$error", ng-if="signupCtrl.signupForm.username.$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez saisir votre adresse e-mail.
          p.callout.alert(ng-message="email") Cette adresse e-mail est invalide.
          p.callout.alert(ng-message="compareToExists") Cette adresse e-mail est déjà utilisée.

    div.row.expanded
      div.small-12.columns
        label(for="username-repeat") Adresse e-mail (confirmation)
        input(type="email", id="username-repeat", name="username-repeat", required="required", ng-model="signupCtrl.formData['username-repeat']", compare-to="signupCtrl.formData.username")
        div(ng-messages="signupCtrl.signupForm['username-repeat'].$error", ng-if="signupCtrl.signupForm['username-repeat'].$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez confirmer votre adresse e-mail.
          p.callout.alert(ng-message="compareTo") Les adresses e-mail ne correspondent pas
          // p.callout.alert(ng-message-exp="signupCtrl.usernameMismatch()") Les adresses e-mail ne correspondent pas

    div.row.expanded
      div.small-12.columns
        label(for="password") Mot de passe
        input(type="password", id="password", name="password", required="required", value="", ng-model="signupCtrl.formData.password", ng-minlength="6", ng-maxlength="128")
        div(ng-messages="signupCtrl.signupForm.password.$error", ng-if="signupCtrl.signupForm.password.$dirty", role="alert")
          p.callout.alert(ng-message="required") Veuillez saisir votre mot de passe.
          p.callout.alert(ng-message="minlength") Le mot de passe doit contenir au moins 6 caractères.
          p.callout.alert(ng-message="maxlength") Le mot de passe ne doit pas dépasser 128 caractères.


    fieldset.row.column.expanded
      legend Date de naissance

      div.small-4.columns
        select(id="birthday", name="birthday", required="required", ng-model="signupCtrl.formData.birthday", ng-pattern="/^[1-9]|[12][0-9]|3[01]$/")
          each val, index in days
            option(value=index)= val
      div.small-4.columns
        select(id="birthmonth", name="birthmonth", required="required", ng-model="signupCtrl.formData.birthmonth", ng-pattern="/^[1-9]|[1][0-2]$/")
          each val, index in months
            option(value=index)= val
      div.small-4.columns
        select(id="birthyear", name="birthyear", required="required", ng-model="signupCtrl.formData.birthyear", ng-pattern="/^[1-9]/")
          each val, index in years
            option(value=index)= val

      div.row.expanded
        div.small-4.columns
          label(for="gender-male")
            input(type="radio", id="gender-male", name="gender", value="male", required="required", ng-model="signupCtrl.formData.gender")
            = " Homme"
        div.small-4.columns.end
          label(for="gender-female")
            input(type="radio", id="gender-female", name="gender", value="female", required="required", ng-model="signupCtrl.formData.gender")
            = " Femme"

    div.row.expanded
      div.small-12.columns
        input.button.expanded.success(type="submit", value="Inscription", ng-disabled="signupCtrl.signupForm.$invalid")
