
div(ng-controller="connectedController as connectedCtrl")
  p(ng-bind="connectedCtrl.nbOnlineUserMessages") ...
  p(ng-bind="connectedCtrl.nbLoggedInMessage") ...

  if req && req.user

    h3 Amis en ligne
    ul
      li(ng-repeat="onlineFriend in connectedCtrl.onlineFriends track by $index")
        friend-icon
          // a(href="/user/" + onlineFriend.uid, ng-bind="onlineFriend.firstname + ' ' + onlineFriend.firstname") ...
          // img.profile-pic(style="background-image: url('" + req.user.profilePic + "')")



          // = req.user.firstname + ' ' + req.user.lastname

    p
      a(href="/friends") Tous mes amis



unless req && req.user
  p
    a(href="/login") Connectez-vous pour retrouver vos amis.

//- div(ng-controller="activityController as activityCtrl")
//-   p(ng-repeat="message in activityCtrl.messages | orderBy: reverse:true track by $index") {{message}}
