header.top-bar
  div.wrapper
    div.top-bar-left
      ul.dropdown.menu(data-dropdown-menu)
        li.menu-text
          a(href="/") JS net

        if req && req.user
          li
            a(href="/user/" + req.user.uid)
              = req.user.firstname + ' ' + req.user.lastname

            ul.menu.vertical
              li
                a(href="/profile") Profile
              li
                a(href="/logout") Déconnexion

        unless req && req.user
          li
            a(href="/login") Connexion
          li
            a(href="/signup") Inscription

    div.top-bar-right
      if req && req.user
        ul.menu
          li
            input(type="search", placeholder="Search")
          li
            button(type="button", class="button") Search
