if loginErrorMsg
  div.callout.alert
    h5 Erreur
    p= loginErrorMsg

form(action="/login", method="post")
  div
    label(for="username") Adresse e-mail
    input(type="text", id="username", name="username", required="required")

  div
    label(for="password") Mot de passe
    input(type="password", id="password", name="password", required="required")

  div
    input.button.expanded(type="submit", value="Connexion")


p.text-center
  a(href="/recover") Informations de compte oubliées ?
