doctype html
html(lang="fr")
  head
    title= title
    meta(name='viewport', content='width=device-width, initial-scale=1.0')
    link(rel='stylesheet', href='/stylesheets/foundation.min.css')
    link(rel='stylesheet', href='/stylesheets/style.min.css')



  // body(ng-app="app")
  body

    include ./includes/header.pug

    div.wrapper
      div.row
        div.small-12.medium-8.large-9.columns
          block content

        div.small-12.medium-4.large-3.columns
          include ./includes/column.pug

    include ./includes/footer.pug

  // AngularJS
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular.min.js")
  //script(src="//unpkg.com/angular-ui-router/release/angular-ui-router.min.js")
  script(src="//ajax.googleapis.com/ajax/libs/angularjs/1.5.8/angular-messages.min.js")
  // Angular Foundation
  script(src="/javascripts/angular-foundation/angular-foundation.min.js")
  // Angucomplete Alt
  script(src="/javascripts/angucomplete-alt.min.js")
  // Angular Animate
  script(src="/javascripts/angular-animate.min.js")

  block angularModules


  // UI Bootstrap
  //script(src="/javascripts/ui-bootstrap/ui-bootstrap-tpls-2.2.0.min.js")

  // App scripts
  script(src="/javascripts/app.js")

  block angularControllers

  // Bootstrap Angular
  script(src="/javascripts/angular-bootstrap.js")

  // Font Awesome (personal API key)
  script(src="https://use.fontawesome.com/8e10cfa5d1.js")

  block extraBottomScripts
