extends default_layout

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")

  unless req && req.user
    script(src="/javascripts/signup-controller.js")

block content
  h1= title
  p Welcome to #{title}!

  if signupConfirmEmail
    div.callout.success(data-closable="slide-out-right")
      button.close-button(aria-label="Close alert", type="button", close="true")
        span(aria-hidden="true") &times;
      h3 Consultez votre messagerie
      p Un e-mail vous a été envoyé à
        = " "
        strong #{signupConfirmEmail}
        |.
      p Veuillez suivre les instructions pour confirmer votre inscription.

  if accountConfirmed
    div.callout.success(data-closable="slide-out-right")
      button.close-button(aria-label="Close alert", type="button", close="true")
        span(aria-hidden="true") &times;
      h3 Bienvenue&nbsp;!
      p Votre compte a été confirmé
      p
        em (vous avez été connecté(e) automatiquement)



  if req && req.user

    include ./includes/post_form.pug

  else
    // include ./includes/signup_form.pug
