extends default_layout

block angularControllers
  if req && req.user
    script(src="/javascripts/post-controller.js")


block content

  include ./includes/userHeader.pug

  if req && req.user

    h2 Amis

  else
    p You will be escorted out
