<button class="button" ng-hide="buttonAddFriendCtrl.friendshipStatus != 'none'"><i class="fa fa-user-plus"></i> Ajouter</button>
<button class="button success" ng-hide="buttonAddFriendCtrl.friendshipStatus != 'accept'"><i class="fa fa-user-plus"></i> Accepter</button>
<button class="button secondary" ng-hide="buttonAddFriendCtrl.friendshipStatus != 'pending'"><i class="fa fa-user-plus"></i> Invitation envoyée</button>
<button class="button success" ng-hide="buttonAddFriendCtrl.friendshipStatus != 'friends'"><i class="fa fa-check"></i> Ami</button>
